{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Data</title>
</head>
<body>

    <form method="post">
        {% csrf_token %}
        Name: <input name="name" type="text" value={{ f.name }}><br><br>
        Course: <input name="course" type="text" value={{ f.course }}><br><br>
        Score: <input name="score" type="number" value={{ f.score }}><br><br>
        Email: <input name="email" type="email" value={{ f.email }}><br><br>

        <input type="submit" value="Update">
    </form>

</body>
</html>