<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Page</title>
</head>
<body>
    <form method="POST">
    {% csrf_token %}
       Name: <input type="text" name="name" id="name" /><br>
       Email: <input type="email" name="email" id="email" /><br>
       IPE: <input type="number" name="ipe" id="ipe" /><br>
       GP: <input type="number" name="gp" id="gp" />
       <button type="submit" >Add</button>
    </form>

</body>
</html>
